annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
certifi==2025.4.26 ; python_version >= "3.10" and python_version < "3.14"
cfgv==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.2 ; python_version >= "3.10" and python_version < "3.14"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
coverage==7.9.1 ; python_version >= "3.10" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.14"
distlib==0.3.9 ; python_version >= "3.10" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
exceptiongroup==1.3.0 ; python_version == "3.10"
exchange-calendars==4.10.1 ; python_version >= "3.10" and python_version < "3.14"
filelock==3.18.0 ; python_version >= "3.10" and python_version < "3.14"
genbadge==1.1.2 ; python_version >= "3.10" and python_version < "3.14"
holidays==0.74 ; python_version >= "3.10" and python_version < "3.14"
identify==2.6.12 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "3.14"
korean-lunar-calendar==0.3.1 ; python_version >= "3.10" and python_version < "3.14"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.14"
narwhals==1.42.1 ; python_version >= "3.10" and python_version < "3.14"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "3.14"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.14"
openseries==1.9.1 ; python_version >= "3.10" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.14"
pandas==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
patsy==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
pillow==11.2.1 ; python_version >= "3.10" and python_version < "3.14"
platformdirs==4.3.8 ; python_version >= "3.10" and python_version < "3.14"
plotly==6.1.2 ; python_version >= "3.10" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "3.14"
pre-commit==4.2.0 ; python_version >= "3.10" and python_version < "3.14"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "3.14"
pydantic==2.11.7 ; python_version >= "3.10" and python_version < "3.14"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.14"
pyjwt==2.10.1 ; python_version >= "3.10" and python_version < "3.14"
pyluach==2.2.0 ; python_version >= "3.10" and python_version < "3.14"
pytest==8.4.0 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.4 ; python_version >= "3.10" and python_version < "3.14"
ruff==0.11.13 ; python_version >= "3.10" and python_version < "3.14"
scipy==1.15.3 ; python_version >= "3.10" and python_version < "3.14"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.14"
statsmodels==0.14.4 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.2.1 ; python_version == "3.10"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.14.0 ; python_version >= "3.10" and python_version < "3.14"
typing-inspection==0.4.1 ; python_version >= "3.10" and python_version < "3.14"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.4.0 ; python_version >= "3.10" and python_version < "3.14"
virtualenv==20.31.2 ; python_version >= "3.10" and python_version < "3.14"
werkzeug==3.1.3 ; python_version >= "3.10" and python_version < "3.14"
